html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
}

.weather-icon {
  display: block;
  margin: auto;
}

.sun {
  color: gold;
}
.cloud {
  color: darkslategray;
}

.light-rain {
  color: blue;
}

.heavy-rain {
  color: darkblue;
}

.bolt {
  color: orange;
}

.snow {
  color: lightblue;
}

.mist {
  color: darkslategray;
}

.btn-unit {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #069;
  cursor: pointer;
}

.btn-unit:hover {
  color: darkblue;
}

h1 {
  font-size: 2.5rem;
  color: firebrick;
}

.align-on-hyphen p,
.btn-unit {
  font-size: 1.2rem;
}

.align-on-hyphen p {
  display: flex;
  font-size: 1.2rem;
  color: indianred;
}

.align-on-hyphen p span {
  flex: 1;
}

.align-on-hyphen p span:first-of-type {
  text-align: right;
}

.align-on-hyphen p span:last-of-type {
  text-align: left;
  padding-left: 5px;
}
