html,
body {
  font-family: arial, sans-serif;
}

.weather-icon {
  display: block;
  margin: auto;
}

.sun {
  color: gold;
}
.cloud {
  color: darkslategray;
}

.light-rain {
  color: blue;
}

.heavy-rain {
  color: darkblue;
}

.bolt {
  color: orange;
}

.snow {
  color: lightblue;
}

.mist {
  color: darkslategray;
}
#btnUnit {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  font-size: 1rem;
  cursor: pointer;
}

#btnUnit:hover {
  color: darkblue;
}
